@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600,900&display=swap");
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*:after,
*:before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #f1f2f6;
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}

body.dark {
  background-color: #2A3037;
}

h1, h2, h3, h4, h5 {
  margin: 0;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2.1rem;
}

h3 {
  font-size: 1.9rem;
}

h4 {
  font-size: 1.7rem;
}

p {
  font-size: 1.1rem;
}

.header {
  width: 100%;
  min-height: 3.5rem;
  background-color: #f1f2f6;
  -webkit-box-shadow: 0px 1px 8px 0px #b9c3ce;
  box-shadow: 0px 1px 8px 0px #b9c3ce;
  margin-bottom: .10rem;
  opacity: 1;
  z-index: 99999;
  position: fixed;
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}

body.dark .header {
  background-color: #2A3037;
  -webkit-box-shadow: 0px 1px 8px 0px #2A3037;
  box-shadow: 0px 1px 8px 0px #2A3037;
}

.header .header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 1100px;
  margin: 0 auto;
  font-weight: bold;
}

.header .header-container section.logo-aenima img.logo {
  background-size: cover;
  background-repeat: no-repeat;
  cursor: pointer;
}

.header .header-container .switch button {
  background: #2A3037;
  border-radius: 1000px;
  border: none;
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: none;
}

.header .header-container .switch button::after {
  content: "";
  display: block;
  width: 30px;
  height: 30px;
  position: absolute;
  background: #f1f2f6;
  top: 0;
  left: 0;
  right: unset;
  border-radius: 100px;
  -webkit-transition: .3s ease all;
  transition: .3s ease all;
  -webkit-box-shadow: 0px 0px 2px 2px #2A3037;
          box-shadow: 0px 0px 2px 2px #2A3037;
}

.header .header-container .switch button.active {
  background: #fbc531;
  color: #2A3037;
}

.header .header-container .switch button.active::after {
  right: 0;
  left: unset;
}

.header .header-container .switch button span {
  width: 30px;
  height: 30px;
  line-height: 30px;
  display: block;
  background: none;
  color: #f1f2f6;
}

.header .header-container nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0;
}

.header .header-container nav ul li {
  list-style-type: none;
  margin: 0.4rem;
  text-transform: uppercase;
  color: #b9c3ce;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
  cursor: pointer;
  font-weight: 600;
}

.header .header-container nav ul li:hover {
  color: #2A3037;
}

body.dark .header .header-container nav ul li:hover {
  color: #f1f2f6;
}

.fixed-header {
  position: fixed;
  top: 0;
}

#main section.main-content {
  max-width: 1100px;
  margin: 0 auto;
}

section.hero {
  height: 100vh;
  width: 100%;
  background-image: url(../../Assets/img/Viajes_Hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}

section.hero .content-hero {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

section.hero .content-hero .hero-description {
  -ms-flex-item-align: center;
      align-self: center;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 50%;
          flex: 0 0 50%;
  color: #f1f2f6;
  margin-bottom: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.hero .content-hero .hero-description .slider {
  height: 3.6rem;
  width: 3.6rem;
  border-radius: 50%;
  border: none;
  background-color: #7A838D;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  top: 13.5rem;
}

section.hero .content-hero .hero-description .slider div.line {
  height: .3rem;
  width: 20rem;
  background-color: #FA6980;
  position: absolute;
  right: 3rem;
  top: 1.5rem;
}

section.hero .content-hero .hero-description .slider button {
  height: 70%;
  width: 70%;
  border-radius: 50%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  -ms-grid-column-align: center;
      justify-self: center;
  border: none;
  cursor: pointer;
  position: absolute;
  font-size: 1.1rem;
}

section.hero .content-hero .hero-description h1 {
  font-size: 3rem;
  border-bottom: 2px solid #f1f2f6;
  margin: 1.5rem 0;
  padding: 1rem 0;
  font-weight: 700;
}

section.hero .content-hero .hero-description h3 {
  font-size: 1.5rem;
}

section.hero .content-hero .hero-description p {
  font-size: 1rem;
}

section.hero .content-hero .next-travel {
  height: 10rem;
  width: 15rem;
  background: rgba(26, 28, 32, 0.69);
  color: #f1f2f6;
  margin: 0 0 3rem 2rem;
  -ms-flex-item-align: end;
      align-self: flex-end;
  border: 2px dashed #b9c3ce;
  padding: 2.1rem;
}

section.hero .content-hero .next-travel h4 {
  font-size: 0.79rem;
  text-transform: uppercase;
}

section.hero .content-hero .next-travel h4:nth-child(1) {
  color: #FA6980;
  margin: 0 .3rem .3rem 0;
}

section.hero .content-hero .next-travel h4 img.arrow {
  margin-left: 0.5rem;
}

section.hero .content-hero .next-travel p {
  font-size: 0.76rem;
}

.tendencies {
  height: 100vh;
  background-color: #EBEBEB;
  padding: 4rem 0 0 0;
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}

body.dark .tendencies {
  background-color: #7A838D;
}

.tendencies h2 {
  margin-bottom: 2rem;
  font-weight: 600;
  font-size: 1.7rem;
  color: #2A3037;
  text-transform: uppercase;
}

body.dark .tendencies h2 {
  color: #f1f2f6;
}

.tendencies .content-tendencies {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(300px, 1fr))[auto-fit];
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 1rem;
}

.tendencies .content-tendencies article.card {
  background-color: #f1f2f6;
  border-radius: 10px;
  -webkit-box-shadow: 0px 0px 5px 0px #b9c3ce;
  box-shadow: 0px 0px 5px 0px #b9c3ce;
}

body.dark .tendencies .content-tendencies article.card {
  background-color: #2A3037;
  color: #f1f2f6;
  -webkit-box-shadow: 0px 0px 5px 0px #2A3037;
  box-shadow: 0px 0px 5px 0px #2A3037;
}

.tendencies .content-tendencies article.card img {
  width: 100%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.tendencies .content-tendencies article.card .description {
  padding: 2rem;
}

.tendencies .content-tendencies article.card .description h3 {
  font-size: 1.1rem;
  background: #FA6980;
  color: #f1f2f6;
  width: 28%;
  text-align: center;
  border-radius: 5px;
  padding: .3rem;
  font-weight: 600;
  position: relative;
  bottom: 7rem;
  text-transform: uppercase;
}

.tendencies .content-tendencies article.card .description h4 {
  font-size: 1rem;
  font-weight: 700;
  color: #2A3037;
}

body.dark .tendencies .content-tendencies article.card .description h4 {
  color: #f1f2f6;
}

.tendencies .content-tendencies article.card .description p {
  font-size: 0.8rem;
  color: #7A838D;
}

section.blog {
  background-color: transparent;
  position: relative;
  bottom: 13rem;
}

section.blog .main-content {
  max-width: 1100px;
  margin: 0 auto;
}

section.blog .main-content h2 {
  margin-bottom: 2rem;
  font-weight: 600;
  font-size: 1.7rem;
  color: #2A3037;
  text-transform: uppercase;
}

body.dark section.blog .main-content h2 {
  color: #f1f2f6;
}

section.blog .main-content .blog-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #f1f2f6;
}

section.blog .main-content .blog-content .card-content {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 66%;
          flex: 0 0 66%;
  margin: 0 1.1rem 0 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

section.blog .main-content .blog-content .card-content .card {
  height: 55vh;
  width: 100%;
  background-image: url("../../Assets/img/articulo_big_01.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 5px;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  cursor: pointer;
}

section.blog .main-content .blog-content .card-content .card:hover {
  -webkit-transform: scale(1.04);
          transform: scale(1.04);
}

section.blog .main-content .blog-content .card-content .card:last-of-type {
  margin: 1rem 0 0 0;
  background-image: url("../../Assets/img/articulo_big_02.png");
}

section.blog .main-content .blog-content .card-content .card h5 {
  padding: 2rem 0 0 2rem;
  text-shadow: #2A3037 0.5px 0.5px;
}

section.blog .main-content .blog-content .card-content .card .card-description {
  height: 91%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 2rem;
}

section.blog .main-content .blog-content .card-content .card .card-description .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section.blog .main-content .blog-content .card-content .card .card-description .time a {
  font-size: 0.8rem;
  color: #f1f2f6;
  text-decoration: none;
  margin: 0 0 0 0.3rem;
}

section.blog .main-content .blog-content .card-content .card .card-description h4 {
  font-weight: 600;
}

section.blog .main-content .blog-content .card-content .card .card-description p {
  font-size: 0.8rem;
  font-weight: 600;
  margin: 0 0 1.8rem 0;
}

section.blog aside .aside-cards {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #2A3037;
}

section.blog aside .aside-cards .card {
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  cursor: pointer;
}

section.blog aside .aside-cards .card:hover {
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
}

section.blog aside .aside-cards .card h4 {
  margin: 1.2rem 0 0.3rem 0;
  font-size: 1rem;
  font-weight: 600;
  color: #202124;
}

body.dark section.blog aside .aside-cards .card h4 {
  color: #f1f2f6;
}

section.blog aside .aside-cards .card .time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 1.2rem 0;
}

section.blog aside .aside-cards .card .time a {
  font-size: 0.8rem;
  color: #2A3037;
  text-decoration: none;
  margin: 0 0 0 0.3rem;
}

body.dark section.blog aside .aside-cards .card .time a {
  color: #f1f2f6;
}

footer {
  width: 100%;
  min-height: 3.5rem;
  background-color: #2A3037;
  -webkit-transition: background-color .3s ease-in-out;
  transition: background-color .3s ease-in-out;
}

body.dark footer {
  background-color: #7A838D;
}

footer .footer-container {
  max-width: 1100px;
  height: 6rem;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .footer-container address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 3rem;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
/*# sourceMappingURL=app.css.map */