section.blog {
  background-color: transparent;
  position: relative;
  bottom: 5rem;

  @include phone {
    bottom: 0rem;
    padding: 2rem 2rem;
  }

  @include tablet{
    bottom: 13rem;
  }

  .main-content {
    max-width: 1100px;
    margin: 0 auto;
    h2 {
      padding: 0 0 0 2rem;
      margin-bottom: 2rem;
      font-weight: 600;
      font-size: 1.7rem;
      color: $black;
      text-transform: uppercase;

      @include phone {
        padding: 0;
      }

      body.dark & {
        color: $white;
      }
    }

    .blog-content {
      color: $white;

      @include phone {
        display: flex;
      }

      .card-content {
        display: flex;
        flex-direction: column;

        @include phone {
          flex: 0 0 66%;
          margin: 0 1.1rem 0 0;
        }
        .card {
          height: 55vh;
          width: 100%;
          background-image: url("../../Assets/img/articulo_big_01.png");
          background-repeat: no-repeat;
          background-size: cover;
          background-position: center center;
          border-radius: 5px;
          transition: transform 0.3s ease-in-out;
          cursor: pointer;

          @include phone {
            &:hover {
              transform: scale(1.04);
            }

          }
          &:last-of-type {
            margin: 1rem 0 0 0;
            background-image: url("../../Assets/img/articulo_big_02.png");
          }

          h5 {
            padding: 2rem 0 0 2rem;
            text-shadow: $black 0.5px 0.5px;
            text-transform: uppercase;
          }

          .card-description {
            height: 91%;
            display: flex;
            flex-direction: column;
            justify-content: flex-end;
            padding: 2rem;

            .time {
              display: flex;
              align-items: center;
              a {
                font-size: 0.8rem;
                color: $white;
                text-decoration: none;
                margin: 0 0 0 0.3rem;
              }
            }

            h4 {
              font-weight: 600;
              margin: 0 0 1rem 0;
              font-size: 1.4rem;

              @include phone {
                font-size: 2rem;
              }
            }
            p {
              display: none;

              @include phone {
                display: block;
                font-size: 0.8rem;
                font-weight: 600;
                margin: 0 0 1.8rem 0;
              }
            }
          }
        }
      }
    }
  }

  aside {
    display: none;

    @include phone {
      display: block;
    }

    .aside-cards {
      display: flex;
      flex-direction: column;
      color: $black;

      .card {
        transition: transform 0.3s ease-in-out;
        cursor: pointer;

      // .aside-img{
      //   width: 100%;
      //   height: 10rem;
      // }

        &:hover {
          transform: scale(1.07);
        }

        h4 {
          margin: 1.2rem 0 0.3rem 0;
          font-size: 1rem;
          font-weight: 600;
          color: $primaryBlack;

          body.dark & {
            color: $white;
          }
        }

        .time {
          display: flex;
          align-items: center;
          margin: 0 0 1.2rem 0;
          a {
            font-size: 0.8rem;
            color: $black;
            text-decoration: none;
            margin: 0 0 0 0.3rem;

            body.dark & {
              color: $white;
            }
          }
        }
      }
    }
  }
}
