section.blog {
  background-color: transparent;
  position: relative;
  bottom: 13rem;

  .main-content {
    max-width: 1100px;
    margin: 0 auto;
    h2 {
      margin-bottom: 2rem;
      font-weight: 600;
      font-size: 1.7rem;
      color: $black;
      text-transform: uppercase;
    }

    .blog-content {
      // border: 3px solid $black;
      display: flex;
      color: $white;

      .card-content {
        flex: 0 0 66%;
        margin: 0 2rem 0 0;
        display: flex;
        flex-direction: column;
      }
      .card {
        height: 55vh;
        width: 100%;
        background-image: url("../../Assets/img/articulo_big_01.png");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        border-radius: 5px;
        &:last-of-type {
          margin: 1rem 0 0 0;
          background-image: url("../../Assets/img/articulo_big_02.png");
        }

        h5 {
          padding: 2rem 0 0 2rem;
          text-shadow: $black 0.5px 0.5px;
        }

        .card-description {
          height: 91%;
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          padding: 2rem;

          .time {
            display: flex;
            align-items: center;
            a {
              font-size: 0.8rem;
              color: $white;
              text-decoration: none;
              margin: 0 0 0 0.3rem;
            }
          }

          h4 {
            font-weight: 600;
          }
          p {
            font-size: 0.8rem;
            font-weight: 600;
            margin: 0 0 1.8rem 0;
          }
        }
      }
    }
  }
}
