footer {
  width: 100%;
  min-height: 3.5rem;
  background-color: $black;

// //   .footer-container {
//     max-width: 1100px;
    height: 6rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
//   }
}
