
html{
    @include box-sizing(border-box);
}

*,
*:after,
*:before{
    @include box-sizing(inherit);
}

body{
    margin: 0;
    padding: 0;
    font-family: $font;
    background-color: $white;
}

h1, h2, h3, h4{
    margin: 0;
}

h1{
    font-size: 2.4rem;
}

h2{
    font-size: 2.1rem;
}

h3{
    font-size: 1.9rem;
}

h4{
    font-size: 1.7rem;
}

p{
    font-size: 1.1rem;
}