.header {
  width: 100%;
  min-height: 3.5rem;
  background-color: $white;
  -webkit-box-shadow: 0px 1px 8px 0px $secundaryGray;
  -moz-box-shadow: 0px 1px 8px 0px $secundaryGray;
  box-shadow: 0px 1px 8px 0px $secundaryGray;
  margin-bottom: .10rem;
  opacity: 1;
  z-index: 99999;
  position: fixed;

  .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: $desktop;
    margin: 0 auto;
    font-weight: bold;

    section.logo-aenima {
      img.logo {
        background-size: cover;
        background-repeat: no-repeat;
        cursor: pointer;
      }
    }

    nav {
      ul {
        display: flex;
        justify-content: space-between;
        padding: 0;

        li {
          list-style-type: none;
          margin: 0.4rem;
          text-transform: uppercase;
          color: $secundaryGray;
          transition: color 0.3s ease-in-out;
          cursor: pointer;
          font-weight: 600;

          &:hover {
            color: $black;
          }
        }
      }
    }
  }
}

.fixed-header {
  position: fixed;
  top: 0;
}
