.header {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 3.5rem;
  font-weight: bold;
  background-color: $white;

  img.logo{
    background-size: cover;
    background-repeat: no-repeat;
    cursor: pointer;
  }

  nav {
    ul {
      display: flex;
      justify-content: space-around;
      padding: 0;

      li {
        list-style-type: none;
        margin: 0.4rem;
        text-transform: uppercase;
        color: $secundaryGray;
        transition: color 0.3s ease-in-out;
        cursor: pointer;

        &:hover {
          color: $black;
        }
      }
    }
  }
}

.fixed-header{
  position: fixed;
  top: 0;
}