.header {
  width: 100%;
  min-height: 3.5rem;
  background-color: $white;
  -webkit-box-shadow: 0px 1px 8px 0px $secundaryGray;
  -moz-box-shadow: 0px 1px 8px 0px $secundaryGray;
  box-shadow: 0px 1px 8px 0px $secundaryGray;
  margin-bottom: 0.1rem;
  opacity: 1;
  z-index: 99999;
  position: fixed;
  transition: background-color 0.3s ease-in-out;

  body.dark & {
    background-color: $black;
    -webkit-box-shadow: 0px 1px 8px 0px $black;
    -moz-box-shadow: 0px 1px 8px 0px $black;
    box-shadow: 0px 1px 8px 0px $black;
  }

  .header-container {
    min-height: 3.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: $desktop;
    margin: 0 auto;
    font-weight: bold;

    section.logo-aenima {
      img.logo {
        background-size: cover;
        background-repeat: no-repeat;
        cursor: pointer;
      }
    }

    .switch {
      button {
        background: $black;
        border-radius: 1000px;
        border: none;
        position: relative;
        cursor: pointer;
        display: flex;
        outline: none;

        &::after {
          content: "";
          display: block;
          width: 30px;
          height: 30px;
          position: absolute;
          background: $white;
          top: 0;
          left: 0;
          right: unset;
          border-radius: 100px;
          transition: 0.3s ease all;
          box-shadow: 0px 0px 2px 2px $black;
        }

        &.active {
          background: #fbc531;
          color: $black;
          &::after {
            right: 0;
            left: unset;
          }
        }

        span {
          width: 30px;
          height: 30px;
          line-height: 30px;
          display: block;
          background: none;
          color: $white;
        }
      }
    }

    section.navigation {
      display: flex;

      nav {
        display: none;
        position: relative;
        width: 300px;
        
        ul {
          display: flex;
          justify-content: space-between;
          padding: 0;

          li {
            list-style-type: none;
            margin: 0.4rem;
            text-transform: uppercase;
            color: $secundaryGray;
            transition: color 0.3s ease-in-out;
            cursor: pointer;
            font-weight: 600;

            &:hover {
              color: $black;

              body.dark & {
                color: $white;
              }
            }
          }
        }

        html.nav-is-open & {
          display: block;
        }

        @include phone {
          display: block;
          
        }
      }

      .sidebar {
        align-self: center;

        html.nav-is-open & {
          position: fixed;
          bottom: 0;
          left: 0;
          right: 0;
          top: 0;
          width: 100%; 

          overflow: hidden;
        }

        button.hamburguer-menu {
          border: none;
          cursor: pointer;

          

          @include phone {
            display: none;
          }
        }
      }
    }
  }
}

.fixed-header {
  position: fixed;
  top: 0;
}
