section.hero {
  height: 100vh;
  width: 100%;
  background-image: url(../../Assets/img/Viajes_Hero.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;

  .content-hero {
    height: 100vh;
    display: flex;
    justify-content: space-around;
    flex-direction: column;

    @include tablet {
      flex-direction: row;
      justify-content: space-between;
    }

    .hero-description {
      align-self: center;
      color: $white;
      display: flex;
      flex-direction: column;
      flex: none;

      @include tablet {
        flex: 0 0 50%;
        margin-bottom: 2rem;
      }

      .slider {
        height: 3.6rem;
        width: 3.6rem;
        border-radius: 50%;
        border: none;
        background-color: $primaryGray;
        display: flex;
        justify-content: center;
        position: relative;
        top: 13rem;
        left: 2rem;

        @include phone {
          top: 3rem;
          left: 0;
        }

        @include tablet {
          top: 8rem;
          left: 3rem;
        }

        @include almost-tablet {
          top: 8rem;
        }

        div.line {
          height: 0.3rem;
          width: 20rem;
          background-color: $red;
          position: absolute;
          right: 3rem;
          top: 1.5rem;
        }

        button {
          height: 70%;
          width: 70%;
          border-radius: 50%;
          align-self: center;
          justify-self: center;
          border: none;
          cursor: pointer;
          position: absolute;
          font-size: 1.1rem;
        }
      }

      h1 {
        font-size: 1.7rem;
        border-bottom: 2px solid $white;
        margin: 1.5rem 0 1.5rem 2rem;
        padding: 1rem 0;
        font-weight: 500;
        width: 80%;
        img.pin{
          height: 1.3rem;
        }

        @include phone {
          font-size: 3rem;
          font-weight: 700;
          
          img.pin{
            height: 2.2rem;
          }
        }
      }

      h3 {
        font-size: 1.4rem;
        font-weight: 500;
        margin: 0 0 0 2rem;

        @include phone{
          font-size: 1.5rem;

        }
      }

      p {
        display: none;

        @include phone {
          display: block;
          font-size: 1rem;
        }
      }
    }

    .next-travel {
      display: none;

      @include phone {
        display: block;
        height: 10rem;
        width: 100%;
        background: rgba(26, 28, 32, 0.69);
        color: $white;
        margin: 0;
        align-self: center;
        border: 2px dashed $secundaryGray;
        padding: 2.1rem;
      }

      @include tablet {
        width: 15rem;
        align-self: flex-end;
        margin: 0 0 3rem 2rem;
      }

      h4 {
        font-size: 0.79rem;
        text-transform: uppercase;

        &:nth-child(1) {
          color: $red;
          margin: 0 0.3rem 0.3rem 0;
        }

        img.arrow {
          margin-left: 0.5rem;
        }
      }

      p {
        font-size: 0.76rem;
      }
    }
  }
}
