.tendencies {
  height: 100vh;
  background-color: $mainGray;

  h2 {
    margin-top: 4rem;
    margin-bottom: 2rem;
    font-weight: 600;
    font-size: 1.7rem;
    color: $black;
    text-transform: uppercase;
  }

  .content-tendencies {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    article.card {
      background-color: $white;
      border-radius: 10px;
      -webkit-box-shadow: 0px 0px 5px 0px $secundaryGray;
      -moz-box-shadow: 0px 0px 5px 0px $secundaryGray;
      box-shadow: 0px 0px 5px 0px $secundaryGray;

      img {
        width: 100%;
      }

      .description {
        padding: 2rem;
        h4 {
          font-size: 1rem;
          font-weight: 700;
          color: $black;
        }

        p {
          font-size: 0.8rem;
        }
      }
    }
  }
}
