.tendencies {
  padding-top: 2.5rem;
  background-color: $mainGray;
  transition: background-color 0.3s ease-in-out;
  height: 110vh;

  @include phone {
    padding: 4rem 0 0 0;
    height: 120vh;
    padding: 2.5rem 2.5rem;

  }

  body.dark & {
    background-color: $primaryGray;
  }
  h2 {
    padding: 0 0 0 1.5rem;
    margin-bottom: 2rem;
    font-weight: 600;
    font-size: 1.7rem;
    color: $black;
    text-transform: uppercase;

    @include phone{
      padding: 0;
    }

    body.dark & {
      color: $white;
    }
  }

  .content-tendencies {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;

    article.card {
      -webkit-box-shadow: 0px 0px 5px 0px $secundaryGray;
      -moz-box-shadow: 0px 0px 5px 0px $secundaryGray;
      box-shadow: 0px 0px 5px 0px $secundaryGray;
      width: 90%;
      margin: 0 auto;

      &:nth-child(2) {
        display: none;
      }

      &:last-of-type {
        display: none;
      }

      @include phone {
          background-color: $white;
          border-radius: 10px;
      }

      @include tablet {
        &:nth-child(2) {
          display: none;
        }

        &:last-of-type {
          display: block;
        }

        @include desktop {
          &:nth-child(2) {
            display: block;
          }

          &:last-of-type {
            display: block;
          }
        }
      }

      body.dark & {
        background-color: $black;
        color: $white;
        -webkit-box-shadow: 0px 0px 5px 0px $black;
        -moz-box-shadow: 0px 0px 5px 0px $black;
        box-shadow: 0px 0px 5px 0px $black;
      }

      img {
        width: 99%;
        margin: 2px;
        border-radius: 0;
        @include phone{
          margin: 0;
          width: 100%;
          border-top-left-radius: 10px;
          border-top-right-radius: 10px;
        }
      }

      .description {
        padding: 2rem;

        h3 {
          font-size: .9rem;
          background: $red;
          color: $white;
          width: 28%;
          text-align: center;
          border-radius: 5px;
          padding: 0.3rem;
          font-weight: 600;
          position: relative;
          bottom: 8rem;
          text-transform: uppercase;

          @include tablet{
            font-size: 1.1rem;
          }
        }

        h4 {
          font-size: 1rem;
          font-weight: 700;
          color: $black;

          body.dark & {
            color: $white;
          }
        }

        p {
          font-size: 0.8rem;
          color: $primaryGray;
        }
      }
    }
  }
}
