.tendencies {
  height: 100vh;
  background-color: $mainGray;
  padding: 4rem 0 0 0;
  transition: background-color .3s ease-in-out;

  body.dark & {
    background-color: $primaryGray;
  }
  h2 {
    margin-bottom: 2rem;
    font-weight: 600;
    font-size: 1.7rem;
    color: $black;
    text-transform: uppercase;

    body.dark & {
      color: $white;
    }
  }

  .content-tendencies {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 1rem;
    article.card {
      background-color: $white;
      border-radius: 10px;
      -webkit-box-shadow: 0px 0px 5px 0px $secundaryGray;
      -moz-box-shadow: 0px 0px 5px 0px $secundaryGray;
      box-shadow: 0px 0px 5px 0px $secundaryGray;

      body.dark & {
        background-color: $black;
        color: $white;
        -webkit-box-shadow: 0px 0px 5px 0px $black;
        -moz-box-shadow: 0px 0px 5px 0px $black;
        box-shadow: 0px 0px 5px 0px $black;
      }

      img {
        width: 100%;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
      }

      .description {
        padding: 2rem;

        h3{
          font-size: 1.1rem;
          background: $red;
          color: $white;
          width: 28%;
          text-align: center;
          border-radius: 5px;
          padding: .3rem;
          font-weight: 600;
          position: relative;
          bottom: 7rem;
          text-transform: uppercase;
        }

        h4 {
          font-size: 1rem;
          font-weight: 700;
          color: $black;

          body.dark & {
            color: $white;
          }
        }

        p {
          font-size: 0.8rem;
        }
      }
    }
  }
}
