// Tipografía de Monserrat como requiere el ejercicio:
@import url('https://fonts.googleapis.com/css?family=Montserrat:400,600,900&display=swap');

$font: 'Montserrat', sans-serif;

// La elección de los colores es importante para una marca, decidí que esta paleta cumplía los requisitos:
// https://flatuicolors.com/palette/cn
// Colores:
$white: #f1f2f6;
$red: #FA6980;
$mainGray: #EBEBEB;
$primaryGray: #7A838D;
$secundaryGray: #b9c3ce;
$black: #2A3037;
$primaryBlack: #202124;

// Con estas variables podemos adaptar nuestro sitio a distintos dispositivos
$desktop: 1100px;
$tablet: 768px;
$phone: 480px;
